@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

.head-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom:50px;
}

.allWriteableCells{
    display:flex;
    margin-bottom:50px;
    #dom{
        background-color:yellow;
    }
    .dayCell{
        width:35px;
        border:solid;
        .number{
            font-size:1.5em;
        }
        .name{
            font-size:0.5em;

        }
    }
}

.allCells{
    display:flex;
    margin-bottom:50px;
    #dom{
        background-color:yellow;
    }
    .dayCell{
        width:35px;
        border:solid;
        .number{
            font-size:1.5em;
        }
        .name{
            font-size:0.5em;

        }
    }
}
