.allCells{
    background-color:violet;
    display:flex;
    .dayCell{
        width:35px;
        background-color:yellow;
        border:solid;
        .number{
            font-size:1.5em;
        }
        .name{
            font-size:0.5em;

        }
    }
}
